
exercises/Eksamensprojekt/sigurdslabels/36_label.txt
exercises/Eksamensprojekt/sigurdslabels/36.csv
exercises/Eksamensprojekt/sigurdslabels/35_label.txt
exercises/Eksamensprojekt/sigurdslabels/35.csv
exercises/Eksamensprojekt/sigurdslabels/33_label.txt
exercises/Eksamensprojekt/sigurdslabels/33.csv
exercises/Eksamensprojekt/sigurdslabels/32_label.txt
exercises/Eksamensprojekt/sigurdslabels/32.csv
exercises/Eksamensprojekt/sigurdslabels/29_label.txt
exercises/Eksamensprojekt/sigurdslabels/29.csv
exercises/Eksamensprojekt/sigurdslabels/28_label.txt
exercises/Eksamensprojekt/sigurdslabels/28.csv
exercises/Eksamensprojekt/sigurdslabels/27_label.txt
exercises/Eksamensprojekt/sigurdslabels/27.csv
